$color1:#f3f3eb;
$color2:rgb(123, 123, 123);
$linea:linear-gradient(180deg, rgba(123, 123, 123, 1) 10%, rgba(127, 143, 132, 1) 22%, rgba(243, 243, 235, 1) 100%);
$linea2:linear-gradient(16deg, rgba(123, 123, 123, 1) 10%, rgba(127, 143, 132, 1) 22%, rgba(196, 233, 198, 1) 100%);
$color3:#215720;
$color4:#dee9d8;
$color5:#000;
$color6:#262626;
$color7:#eee;
$color8:#e1306c;
$color9:#444644;
$color10:#7f8f85;