@import "colores";

#caja {
    height: auto;
    margin: 20px auto;

}

section {
    .sub {
        width: auto;
        height: auto;
        overflow: hidden;
    }

    #gb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;

        .guia a {
            color: $color3;
        }
    }

}