@import "colores";


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;

}


body {
    background:  $color1  !important;
}
@import "header";

@import "navbar";

@import "main";


@import "footer";

@media only screen and (max-width:1028px) {
    .titulofin h5 {
        font-size: 70px;
    }

    .suscri {
        font-size: 20px;

        .sus {
            .email {
                width: 170px;
            }

        }
    }
}

@media only screen and (max-width: 1024px) {
    #logo {
        margin-right: 2rem;
    }

    .titulofin h5 {
        font-size: 60px;
        text-align: center;
    }

    .titulofin p {
        font-size: 40px;
        text-align: center;
    }

    .suscri {
        font-size: 20px;
    }

    .suscri .sus .email {
        width: 170px;
    }
}

@media only screen and (max-width: 992px) {
    .titulofin h5 {
        font-size: 50px;
        text-align: center;
    }

    .titulofin p {
        font-size: 30px;
        text-align: center;
    }

    .suscri {
        font-size: 20px;
    }

    .suscri .sus .email {
        width: 180px;
    }
}

@media only screen and (max-width: 991px) {
    .titulofin h5 {
        font-size: 50px;
        text-align: center;
    }

    .titulofin p {
        font-size: 30px;
        text-align: center;
    }

    .suscri {
        font-size: 20px;
    }

    .suscri .sus .email {
        width: 180px;
    }
}

@media only screen and (max-width: 768px) {
    .bus .me-2 {
        width: 100px;
    }

    .titulofin h5 {
        font-size: 30px;
        text-align: center;
    }

    .titulofin p {
        font-size: 20px;
        text-align: center;
    }

    .menufin .menu3 .menu {
        font-size: 20px;
    }

    .suscri {
        font-size: 20px;
    }

    .suscri .sus .email {
        width: 180px;
    }

    .suscri .sus h4 {
        text-align: start;
    }
}

@media only screen and (max-width: 767px){
    
}

@media only screen and (max-width: 576px) {
    .suscri .sus .email {
        width: 150px;
    }
}

@media only screen and (max-width: 575px) {
    .suscri .sus .email {
        width: 140px;
    }
}

@media only screen and (max-width: 500px) {
    #logo {
        margin-right: 1px;
    }

    .nv {
        justify-content: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .titulofin{
        width: 100% !important;
        p {
            font-size: 20px;
            text-align: center;
        }
    }

    .menufin .menu3 .menu {
        font-size: 15px;
    }

    .suscri {
        width: 100% !important;
        font-size: 20px;
    }

    .suscri .sus h4 {
        text-align: center;
    }
}

@media only screen and (max-width: 497px) {
    #logo {
        margin-right: 1px;
    }

    .nv {
        justify-content: center;
    }

    #gb{
        font-size: 10px;
        .guia{
            margin-right: 2rem;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .titulofin{
        width: 100% !important;
        p {
            font-size: 20px;
            text-align: center;
        }
    }

    .menufin .menu3 .menu {
        font-size: 15px;
    }

    .suscri {
        width: 100% !important;
        font-size: 20px;
    }

    .suscri .sus h4 {
        text-align: center;
    }
}

@media only screen and (max-width: 427px) {
    #logo {
        margin-right: 1px;
    }

    .nv {
        justify-content: center;
    }

    #gb{
        font-size: 10px;
        .guia{
            margin-right: 2rem;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .titulofin{
        width: 100% !important;
        p {
            font-size: 20px;
            text-align: center;
        }
    }

    .menufin .menu3 .menu {
        font-size: 15px;
    }

    .suscri {
        width: 100% !important;
        font-size: 20px;
    }

    .suscri .sus h4 {
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {
    #logo {
        margin-right: 1px;
    }

    .nv {
        justify-content: center;
    }

    #gb{
        font-size: 10px;
        .guia{
            margin-right: 2rem;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .titulofin{
        width: 100% !important;
        p {
            font-size: 20px;
            text-align: center;
        }
    }

    .menufin .menu3 .menu {
        font-size: 15px;
    }

    .suscri {
        width: 100% !important;
        font-size: 20px;
    }

    .suscri .sus h4 {
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    #logo {
        margin-right: 1px;
    }

    #gb{
        font-size: 10px;
        .guia{
            margin-right: 2rem;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
    .titulofin{
        width: 100% !important;
        p {
            font-size: 20px;
            text-align: center;
        }
    }

    .menufin .menu3 .menu {
        font-size: 15px;
    }

    .suscri {
        width: 100% !important;
        font-size: 20px;
    }

    .suscri .sus h4 {
        text-align: center;
    }
}

@media only screen and (max-width: 360px) {
    .header {
        padding: 0.5rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }

    #logo {
        margin-right: 1px;
    }

    .bus {
        #buscar{
            width: 1% !important;
            height: 2px !important;
        }
        
    }

    #gb{
        font-size: 10px;
        .guia{
            margin-right: 2rem;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .titulofin h5 {
        font-size: 30px;
        text-align: center;
    }

    .titulofin{
        width: 100% !important;
        p {
            font-size: 20px;
            text-align: center;
        }
    }

    .menufin .menu3 .menu {
        font-size: 15px;
    }

    .suscri {
        width: 100% !important;
        font-size: 20px;
    }

    .suscri .sus .email {
        width: 180px;
    }

    .suscri .sus h4 {
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {
    .header {
        padding: 0.5rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }

    #logo {
        margin-right: 1px;
    }

    .bus {
        #buscar{
            width: 1%;
            height: 2px;
        }
        
    }

    #gb{
        font-size: 10px;
        .guia{
            margin-right: 2rem;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .titulofin h5 {
        font-size: 30px;
        text-align: center;
    }

    .titulofin{
        width: 100% !important;
        p {
            font-size: 20px;
            text-align: center;
        }
    }

    .menufin .menu3 .menu {
        font-size: 15px;
    }

    .suscri {
        width: 100% !important;
        
        font-size: 20px;
    }

    .suscri .sus .email {
        width: 180px;
    }

    .suscri .sus h4 {
        text-align: center;
    }
}